*,
body {
  margin: 0;
}

#root {
  background-color: #f3f8fa;
}
#root > div {
  min-height: 100vh;
  max-width: 1190px;
  margin: auto;
}

.ant-layout-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;

  background-color: #f3f8fa;
  box-shadow: 0 0 20px -10px rgba(39, 64, 96, 0.5);
}

#PageLayout {
  margin-top: 64px;
}

@media screen and (max-width: 991px) {
  .ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: -64px;
    left: 0;
    padding: 8px;
    color: #274060;
    background-color: transparent;
    font-size: x-large;
    height: 64px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-layout-sider {
    position: fixed !important;
    overflow: inherit !important;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 100%;
  }

  .ant-layout-sider .ant-layout-sider-children {
    overflow: hidden auto;
  }
}

@media screen and (max-width: 1190px) {
  .ant-table-content {
    overflow: auto;
  }
}

@media print {
  .no-print {
    display: none;
  }

  * {
    color: #000 !important;
    border-color: #ccc !important;
    background-color: #fff !important;
  }

  .ant-layout {
    margin: 0 !important;
  }
}
